#scopedUserInput {
    #user-input {
        margin: 2rem auto;
        border-radius: 4px;
        max-width: 30rem;
        padding: 1rem;
        background: linear-gradient(180deg, #307e6c, #2b996d);

        label {
            display: block;
            margin-bottom: 0.25rem;
            font-size: 1rem;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: bold;
            // text-transform: uppercase;
        }

        input {
            border: 1px solid #76c0ae;
            border-radius: 0.25rem;
            width: 100%;
            padding: 0.5rem;
            background-color: transparent;
            font-size: 1rem;
            color: #c2e9e0;
        }

        .input-group {
            display: flex;
            gap: 1.5rem;
            justify-content: space-evenly;
            
            &:first-child {
                margin-bottom: 1.5rem;
            }
        }
    }
}